{% load static %}
<!DOCTYPE html>
<html>
<head>
		<!-- BOOSTRAP -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
		<link rel = "stylesheet" href = "{% static 'css/login.css' %}">
		<title>Reuse Me - Login With Google</title>
</head>

<body class = "container">
	{% include "navbar.html" %}
	<div style="text-align: center;">
		<br><br><br><br><br><br>
		<br><br><br><br><br>
		<a class = "btn btn-link" href="{% url 'social:begin' 'google-oauth2' %}">
			<img id = "googleimage" src = "{% static 'img/google.png' %}">
		</a>
	</div>
</body>
</html>